.dialogs {
    display: flex;
    flex-direction: row;
}

.dialogsItems {
    padding: 10px;
    color: white;
}

.dialogsItems .active {
    color: blue;
}

.messages {
    padding: 10px;
}

.messages .message {
    color: white;

}